<template>
    <div>
        <v-switch :label='fieldLabel' :readonly="isReadonly"  v-model="fieldValue"></v-switch>
    </div>
</template>

<script  lang='ts'>

    import {Prop, Vue} from 'vue-property-decorator';
    import Component from 'vue-class-component';
    import {JdyPrimitiveAttributeInfo} from "@jdynameta/jdy-base";

    //Vue.component('jdy-boolean', JdyBooleanField);

    @Component( {
        name: 'jdy-boolean',
        components: {
        }
    })
    export default class JdyBooleanField extends Vue {

        @Prop({default: null}) primAttr: JdyPrimitiveAttributeInfo | null | undefined;
        @Prop() itemToEdit: any;
        // property to get/set the value from the itemToEdit, when null use this.primAttr.getInternalName()
        @Prop({default: null}) valueProperty: string | null | undefined;

        get isReadonly() {
          return (this.primAttr) ? this.primAttr.isGenerated() : true;
        }

        get fieldValue() {
            if (this.valueProperty) {
                return (this.itemToEdit) ? this.itemToEdit[this.valueProperty] : "";
            } else {
                return (this.itemToEdit  && this.primAttr) ? this.itemToEdit[this.primAttr.getInternalName()] : "";
            }
        }

        set fieldValue (val) {
            if (this.valueProperty) {
                this.itemToEdit[this.valueProperty] = val;
            } else if (this.itemToEdit  && this.primAttr) {
                this.itemToEdit[this.primAttr.getInternalName()] = val;
            }
        }

        get fieldLabel ()  {
            const required = (this.primAttr && this.primAttr.getNotNull()) ? '*' : '';
            return (this.primAttr && this.primAttr.getInternalName())? this.$t(this.primAttr.i18n) + required : '';
        }

    }
</script>
