<template>
    <div>
        <jdy-simple-table :items="holderItems" :columns="columns" :classinfo="classInfo">
            <template v-slot:item-action="{ item }">
              <v-icon small  @click="editInDialog(item)">
                mdi-pencil
              </v-icon>
              <v-icon small  @click="deleteItem(item)">
                mdi-delete
              </v-icon>
              <v-dialog v-model="isEditDialogVisible" max-width="600px" :retain-focus="false">
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ dialogTitle }}</span>
                  </v-card-title>
                  <v-card-text>
                    <jdy-generated-panel :itemToEdit="detailItem" :classinfo="classInfo"></jdy-generated-panel>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </template>
        </jdy-simple-table>

    </div>
</template>

<script  lang='ts'>

import { Prop, Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';
import {
    JdyAssociationModel,
    JdyAttributeInfo,
    JdyPrimitiveAttributeInfo,
    JdyPrimitiveTypeVisitor,
    JdyClassInfo, JdyTypedValueObject
} from '@jdynameta/jdy-base';
import { JdySimpleTable, JdyGeneratedPanel } from '@jdynameta/jdy-vuetify';

@Component({
    name: 'jdy-assoc-table',
    components: {
        'jdy-simple-table': JdySimpleTable,
        'jdy-generated-panel': JdyGeneratedPanel
    }
})
export default class JdyAssocTable extends Vue {

    @Prop() associationInfo!: JdyAssociationModel;
    @Prop() editedItem!: any;

    editedIndex: null| number = null;
    isEditDialogVisible = false;
    detailItem: any = {};

    readonly undefinedColumns = [{
        text: '#Undefined',
        left: true,
        sortable: false
    }
    ];
    readonly undefinedData = [];

    get columns () {
        return (this.associationInfo) ? this.convertToColumns(this.associationInfo.getDetailClass()) : this.undefinedColumns;
    }

    get dialogTitle () {
        return this.editedIndex === -1 ? 'New ' + this.typeName : 'Edit ' + this.typeName;
    }

    get typeName () {
        return (this.classInfo) ? this.classInfo.getInternalName() : '';
    }

    get classInfo () {
        return (this.associationInfo) ? this.associationInfo.getDetailClass() : null;
    }

    get holderItemsList () {
        return (this.associationInfo && this.editedItem && this.editedItem.assocVals) ?
            this.editedItem.assocVals(this.associationInfo) :
            this.undefinedData;
    }

    get holderItems () {
        return (this.associationInfo && this.editedItem && this.editedItem.assocVals) ?
            this.editedItem.assocVals(this.associationInfo).getObjects() :
            this.undefinedData;
    }

    editInDialog (listItem) {

        if (listItem) {
            this.editedIndex = this.holderItems.indexOf(listItem);
            this.detailItem = listItem;
        } else {
            this.editedIndex = -1;
            if (this.classInfo) {
                this.detailItem = new JdyTypedValueObject(this.classInfo, null, false);
            }
        }
        this.isEditDialogVisible = true;
    }

    deleteItem (listItem) {
        if (confirm('Are you sure you want to delete this item?')) {
            /*
            this.writer.deleteObjectInDb(listItem
                , result => {
                    // this.items.splice(this.items.findIndex(x => x.name === listItem.name), 1);
                }
                , error => {
                  this.$emit('jdy-notification', `Fehler beim Laden der Daten: ${error.message}`);
                });
            */
        }
    }

    close () {
        this.isEditDialogVisible = false;

    }

    primitiveTypeToColumnHandler (attrInfo: JdyAttributeInfo): JdyPrimitiveTypeVisitor {
        return {
            handleBoolean: function (): any {
                return {
                    text: attrInfo.getInternalName(),
                    align: 'left',
                    value: attrInfo.getInternalName(),
                    left: true
                };
            },

            handleDecimal: function (): any {
                return {
                    text: attrInfo.getInternalName(),
                    align: 'left',
                    value: attrInfo.getInternalName()
                };
            },

            handleTimeStamp: function (): any {
                return {
                    text: attrInfo.getInternalName(),
                    align: 'left',
                    value: attrInfo.getInternalName()
                };
            },

            handleFloat: function (): any {
                return {
                    text: attrInfo.getInternalName(),
                    align: 'left',
                    value: attrInfo.getInternalName()
                };
            },

            handleLong: function (): any {
                return {
                    text: attrInfo.getInternalName(),
                    align: 'left',
                    value: attrInfo.getInternalName()
                };
            },

            handleText: function (): any {
                return {
                    text: attrInfo.getInternalName(),
                    align: 'left',
                    value: attrInfo.getInternalName(),
                    left: true
                };
            },

            handleVarChar: function (): any {
                return null;
            },

            handleBlob: function (): any {
                return null;
            }
        };
    }

    convertToColumns (classInfo: JdyClassInfo) {
        const allColumns: any[] = [];
        classInfo.forEachAttr(attrInfo => {
            if (attrInfo.isPrimitive()) {
                const primitiveInfo = attrInfo as JdyPrimitiveAttributeInfo;
                const newCol = primitiveInfo.getType().handlePrimitiveKey(this.primitiveTypeToColumnHandler(primitiveInfo));
                if (newCol) {
                    allColumns.push(newCol);
                }
            }
        });
        return allColumns;
    }
}
</script>
