<template>
    <div>
        <jdy-filter :classinfo="classinfo" :filterExpressions="filterExpressions">
            <template v-slot:refresh-btn>
                <v-btn text color="primary" @click="reloadFilteredData()"><v-icon>mdi-refresh</v-icon></v-btn>
            </template>
        </jdy-filter>
        <jdy-table :items="holderItems" :columns="columns" :classinfo="classinfo"></jdy-table>
    </div>
</template>

<script  lang='ts'>

import { JdyObjectReader, JsonHttpObjectReader } from '@jdynameta/jdy-http';
import { Prop, Vue, Watch } from 'vue-property-decorator';
import Component from 'vue-class-component';
import {
    JdyAttributePath,
    JdyDataType,
    JdyPrimitiveAttributeInfo
} from '@jdynameta/jdy-base';
import { convertToJdyQuery, OperatorExprHolder } from '@/js/jdy/jdy-view';
import { convertToColumns } from '@/js/jdy/jdy-vuetify';

@Component({
    name: 'JdyHolder',
    components: {
    }
})
export default class JdyHolder extends Vue {

    @Prop() classinfo;
    readonly undefinedColumns = [{
        text: '#Undefined',
        left: true,
        sortable: false,
        value: item => item['BotanicName']
    }
    ];
    readonly undefinedData = [];

    holderItems = this.undefinedData;
    filterExpressions: OperatorExprHolder[] = [];
    reader: JdyObjectReader = new JsonHttpObjectReader('/jdy/');

    get columns () {
        return (this.classinfo) ? convertToColumns(this.classinfo, this.$i18n) : this.undefinedColumns;
    }

    reloadFilteredData () {

        this.loadAllDataForClasssInfo(this.classinfo, this.filterExpressions);
    }

    mounted () {

        this.loadAllDataForClasssInfo(this.classinfo, []);
    }

    @Watch('classinfo') onClassinfoChanged (newClassInfo) {

        this.loadAllDataForClasssInfo(newClassInfo, []);
    }

    loadAllDataForClasssInfo (aClassInfo, allFilterExpressions: OperatorExprHolder[]) {

        if (aClassInfo) {

            // load only attributes displayed in table
            const allSelectAttributes: JdyAttributePath[] = [];
            aClassInfo.forEachAttr(attrInfo => {
                if (attrInfo.isPrimitive()) {
                    const primitiveInfo = attrInfo as JdyPrimitiveAttributeInfo;
                    if (primitiveInfo.getType().getType() !== JdyDataType.JDY_BLOB) {

                        allSelectAttributes.push(new JdyAttributePath([], attrInfo));
                    }
                }
            });

            const query = convertToJdyQuery(allFilterExpressions, aClassInfo, allSelectAttributes);

            this.reader.loadValuesFromDb(query)
                .then(data => {
                    this.holderItems = data;
                    return null;
                })
                .catch(error => {

                    this.holderItems = this.undefinedData;
                    this.$emit('jdy-notification', `Fehler beim Laden der Daten: ${error.message}`);
                });
        } else {

            this.holderItems = this.undefinedData;
        }

    }

};
</script>
