<template>
  <div>
    <v-card>
      <v-app-bar flat color="rgba(0, 0, 0, 0)">
        <v-app-bar-nav-icon color="white"></v-app-bar-nav-icon>

        <v-toolbar-title class="title pl-0">
          {{ typeName }}
        </v-toolbar-title>

        <v-spacer></v-spacer>
        <v-icon > mdi-view-column-outline  </v-icon>
        <v-col :cols="1"> <v-select  v-model="colCount" :items="columns" label=""></v-select></v-col>

      </v-app-bar>
      <v-card-text>
        <jdy-generated-panel :itemToEdit="editedItem" :classinfo="classinfo" :col-count="colCount"></jdy-generated-panel>
        <template v-if="formAssocs.length > 0">
          <v-tabs background-color="#DDDDDD">
            <v-tab  v-for="(assoc,index2) in formAssocs"  :key="index2">
              {{ assoc.getAssocName () }}
            </v-tab>
            <v-tab-item v-for="(assocItem,index3) in formAssocs"  :key="index3">
              <jdy-assoc-table :associationInfo="assocItem" :editedItem="editedItem" ></jdy-assoc-table>
            </v-tab-item>
          </v-tabs>
        </template>
      </v-card-text>
    </v-card>
  </div>
</template>

<script  lang='ts'>

import { JdyObjectReader, JsonHttpObjectReader } from '@jdynameta/jdy-http';
import { Prop, Vue, Watch } from 'vue-property-decorator';
import Component from 'vue-class-component';
import { JdyGeneratedPanel } from '@jdynameta/jdy-vuetify';
import {
    JdyAndExpression, JdyAssociationModel,
    JdyClassInfo,
    JdyClassInfoQuery,
    JdyEqualOperator, JdyOperatorExpression, JdyPrimitiveAttributeInfo, JdyPrimitiveTypeVisitor,
    ObjectFilterExpression
} from '@jdynameta/jdy-base';
import JdyAssocTable from '@/components/JdyAssocTable.vue';

@Component({
    name: 'JdyObjectEditor',
    components: {
        'jdy-generated-panel': JdyGeneratedPanel,
        'jdy-assoc-table': JdyAssocTable
    }
})
export default class JdyObjectEditor extends Vue {

  @Prop() classinfo!: JdyClassInfo;
  reader: JdyObjectReader = new JsonHttpObjectReader('/jdy/');
  editedItem = {};
  columns = [1, 2, 3, 4, 5];
  colCount= 2;

  mounted () {

      console.log('!!!!mount JdyObjectEditor');
      console.log(this.classinfo);
      console.log(this.$route.query);
      this.reloadEditItemFromDb(this.$route.query);
  }

  @Watch('classinfo') onClassinfoChanged (newClassInfo: JdyClassInfo) {

      this.reloadEditItemFromDb(this.$route.query)
  }

  reloadEditItemFromDb (queryObject: {}) {

      if (this.classinfo) {

          const filter = this.queryObjectFilter(this.classinfo, queryObject);
          this.reader.loadValuesFromDb(filter)
              .then(data => {
                  this.editedItem = data[0];
                  return null;
              })
              .catch(error => {

                  this.editedItem = {};
                  this.$emit('jdy-notification', `Fehler beim Laden der Daten: ${error.message}`);
              });
      }
  }

  queryObjectFilter (classinfoToRead: JdyClassInfo, queryObject: {}): JdyClassInfoQuery {

      const operatorExpr: ObjectFilterExpression[] = [];
      const equalOperator = new JdyEqualOperator(false);
      classinfoToRead.forEachAttr(attrInfo => {

          if (attrInfo.isKey()) {
              if (attrInfo.isPrimitive()) {
                  const primType = attrInfo as JdyPrimitiveAttributeInfo;
                  const valueString: string = queryObject[attrInfo.getInternalName()];
                  const value = primType.getType().handlePrimitiveKey(this.convertStringVisitor(valueString));
                  operatorExpr.push(new JdyOperatorExpression(equalOperator, attrInfo, value));
              }
          }
      });

      const andExpr = new JdyAndExpression(operatorExpr);
      return new JdyClassInfoQuery(classinfoToRead, andExpr, []);
  }

  get typeName () {
      return (this.classinfo) ? this.classinfo.getInternalName() : '';
  }

  convertStringVisitor (aAttrValue: string): JdyPrimitiveTypeVisitor {

      return {

          handleBoolean: function () {

              return aAttrValue;
          },

          handleDecimal: function () {

              return parseFloat(aAttrValue);
          },

          handleTimeStamp: function () {
              return new Date(aAttrValue);
          },

          handleFloat: function () {
              return parseFloat(aAttrValue);
          },

          handleLong: function () {

              return parseInt(aAttrValue, 10);
          },

          handleText: function () {
              return aAttrValue;
          },

          handleVarChar: function () {
              return aAttrValue;
          },

          handleBlob: function () {
              return aAttrValue;
          }
      };
  };

  get formAssocs () {

      const assocsFromClassnfo: JdyAssociationModel[] = [];
      if (this.classinfo) {
          this.classinfo.forEachAssoc(assocInfo => {
              assocsFromClassnfo.push(assocInfo);
          });
      }
      return assocsFromClassnfo;
  }
}
</script>
