<template>
    <v-form ref="form" lazy-validation>

        <v-container class="grey lighten-5">
            <v-row>
                <v-col>
                    <jdy-primitive :selectedItem="editedItem" :primitiveAttribute="attr('botanicName')"></jdy-primitive>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <jdy-primitive :selectedItem="editedItem" :primitiveAttribute="attr('color')"></jdy-primitive>
                </v-col>
                <v-col>
                    <jdy-primitive :selectedItem="editedItem" :primitiveAttribute="attr('plantFamily')"></jdy-primitive>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <jdy-slider :itemToEdit="editedItem" :primAttr="attr('heigthInCm')"></jdy-slider>
                </v-col>
                <v-col>
                    <jdy-primitive :selectedItem="editedItem" :primitiveAttribute="attr('wintergreen')"></jdy-primitive>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <jdy-primitive :selectedItem="editedItem" :primitiveAttribute="attr('price')"></jdy-primitive>
                </v-col>
                <v-col>
                    <jdy-primitive :selectedItem="editedItem" :primitiveAttribute="attr('lastChanged')"></jdy-primitive>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <jdy-primitive :selectedItem="editedItem" :primitiveAttribute="attr('description')"></jdy-primitive>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <jdy-image :itemToEdit="editedItem" :primAttr="attr('picture')"></jdy-image>
                </v-col>
            </v-row>
        </v-container>

    </v-form>
</template>

<script  lang='ts'>

import { Prop, Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';
import { JdyAttributeInfo, JdyClassInfo } from '@jdynameta/jdy-base';

    @Component({
        name: 'JdyPerennialExampleEdit',
        components: {
        }
    })
export default class JdyPerennialExampleEdit extends Vue {

    @Prop({ default: null }) classinfo: JdyClassInfo | null | undefined;
    @Prop() editedItem;

    attr (name: string): JdyAttributeInfo | null {
        return (this.classinfo) ? this.classinfo.getAttr(name) : null;
    }
};
</script>
