<template>
    <div>
        <v-snackbar v-model="showMessage" color='error' :top='true' :multi-line=true :timeout='6000' >
            {{ errorMessage }}
            <v-btn dark text @click="showMessage = false"> Close </v-btn>
        </v-snackbar>
        <jdy-filter :classinfo="classinfo" :filterExpressions="filterExpressions">
            <template v-slot:refresh-btn>
                <v-btn text color="primary" @click="reloadFilteredData()"><v-icon>mdi-refresh</v-icon></v-btn>
            </template>
        </jdy-filter>
        <v-data-table :headers="headers"  :items="holderItems"   class="elevation-1">
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-toolbar-title>{{typeName}}</v-toolbar-title>
                    <v-divider class="mx-2" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" dark class="mb-2" @click="editInDialog(null)">New Item</v-btn>
                    <v-dialog v-model="isEditDialogVisible" max-width="500px">
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>
                            <v-card-text>
                                <jdy-perennial-edit :editedItem="editedItem" :classinfo="classinfo"></jdy-perennial-edit>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                                <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.action="{ item }">
                <v-icon small @click="editInDialog(item)">
                    mdi-pencil
                </v-icon>
                <v-icon small @click="deleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                No Plant found
            </template>
            <template  v-for="attr in booleanAttrs" v-slot:[attr.item]="{ item }">
                <v-checkbox v-model="item[attr.attr]" class="mx-2" disabled></v-checkbox>
            </template>
            <template  v-for="dateItem in dateAttrs" v-slot:[dateItem.item]="{ item }">
                {{new Date(item[dateItem.attr]).toLocaleDateString()}}
            </template>
        </v-data-table>
    </div>
</template>

<script  lang='ts'>

import {
    JdyObjectReader,
    JsonHttpObjectReader,
    JsonHttpObjectWriter
} from '@jdynameta/jdy-http';
import { Prop, Vue, Watch } from 'vue-property-decorator';
import Component from 'vue-class-component';
import {
    JdyClassInfoQuery, JdyTypedValueObject
} from '@jdynameta/jdy-base';
import { convertHolderToJdyQuery, findBooleanAttrs, findDateAttrs, OperatorExprHolder } from '@/js/jdy/jdy-view';
import { convertToColumns } from '@/js/jdy/jdy-vuetify';

@Component({
    name: 'JdyPerennialExample',
    components: {
    }
})
export default class JdyPerennialExample extends Vue {

    @Prop() classinfo;
    readonly undefinedColumns = [{
        text: '#Undefined',
        left: true,
        sortable: false,
        value: item => item['BotanicName']
    }
    ];
    readonly undefinedData = [];
    readonly editHeader = [{ text: 'Edit', align: 'left', sortable: false, value: 'action' }];
    editedIndex: null| number = null;
    isEditDialogVisible = false;
    editedItem = {};

    holderItems: any | null | undefined = this.undefinedData;
    filterExpressions: OperatorExprHolder[] = [];
    showMessage = false;
    errorMessage = '';
    reader: JdyObjectReader = new JsonHttpObjectReader('/jdy/');
    writer = new JsonHttpObjectWriter('/jdy/');

    get columns () {
        return (this.classinfo) ? convertToColumns(this.classinfo, this.$i18n) : this.undefinedColumns;
    }

    // a computed getter
    get headers () {
        return this.editHeader.concat(this.columns);
    }

    get dateAttrs () {
        return findDateAttrs(this.classinfo);
    }

    get booleanAttrs () {
        return findBooleanAttrs(this.classinfo);
    }

    get typeName () {
        return (this.classinfo) ? this.classinfo.getInternalName() : '';
    }

    get formTitle () {
        return this.editedIndex === -1 ? 'New ' + this.typeName : 'Edit ' + this.typeName;
    }

    reloadFilteredData () {
        console.log('refresh data');
        if (this.classinfo) {

            const andExpr = convertHolderToJdyQuery(this.filterExpressions);
            const query = new JdyClassInfoQuery(this.classinfo, andExpr, []);

            this.reader.loadValuesFromDb(query)
                .then(data => {
                    this.holderItems = data;
                    return null;
                })
                .catch(error => {

                    this.holderItems = this.undefinedData;
                    this.errorMessage = error.message;
                    this.showMessage = true;
                });
        } else {

            this.holderItems = this.undefinedData;
        }
    }

    mounted () {

        console.log('mounted');
        console.log(this.classinfo);
        this.reloadFilteredData();
    }

    save () {
        if (this.editedIndex && this.editedIndex > -1) {
            const listItem = this.holderItems[this.editedIndex];
            this.writer.insertObjectInDb(this.editedItem
                , result => {
                    Object.assign(listItem, result);
                }
                , error => {
                    this.errorMessage = error.message;
                    this.showMessage = true;
                });

        } else {
            this.writer.insertObjectInDb(this.editedItem
                , result => {
                    this.holderItems.push(result);
                }
                , error => {
                    this.errorMessage = error.message;
                    this.showMessage = true;
                });
        }
        this.close();
    }

    editInDialog (listItem) {

        if (listItem) {
            this.editedIndex = this.holderItems.indexOf(listItem);
            this.editedItem = listItem.copy();
        } else {
            this.editedIndex = -1;
            if (this.classinfo) {
                this.editedItem = new JdyTypedValueObject(this.classinfo, null, false);
            }
        }
        this.isEditDialogVisible = true;
    }

    deleteItem (listItem) {
        if (confirm('Are you sure you want to delete this item?')) {
            this.writer.deleteObjectInDb(listItem
                , result => {
                    this.holderItems.splice(this.holderItems.findIndex(x => x.name === listItem.name), 1);
                }
                , error => {
                    this.errorMessage = error.message;
                    this.showMessage = true;
                });
        }
    }

    close () {
        this.isEditDialogVisible = false;
        setTimeout(() => {
            this.editedItem = {};
            this.editedIndex = -1;
        }, 300);
    }
};
</script>
