<template>
    <div>
        <v-slider
                v-model="fieldValue"
                :min="primAttr.getType().getMinValue()"
                :max="primAttr.getType().getMaxValue()"
                :label="fieldLabelComputed"
                thumb-label
        ></v-slider>
    </div>
</template>

<script  lang='ts'>

import { Prop, Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';
import { JdyPrimitiveAttributeInfo } from '@jdynameta/jdy-base';

    @Component({
        name: 'JdySliderField',
        components: {
        }
    })
export default class JdySliderField extends Vue {

        @Prop({ default: null }) primAttr: JdyPrimitiveAttributeInfo | null | undefined;
        @Prop() itemToEdit;
        // property to get/set the value from the itemToEdit, when null use this.primAttr.getInternalName()
        @Prop({ default: null }) valueProperty: string | null | undefined;

        get fieldValue () {
            if (this.valueProperty) {
                return (this.itemToEdit) ? this.itemToEdit[this.valueProperty] : '';
            } else {
                return (this.itemToEdit && this.primAttr) ? this.itemToEdit[this.primAttr.getInternalName()] : '';
            }
        }

        set fieldValue (val) {
            const numVal = Number(val);
            if (this.valueProperty) {
                this.itemToEdit[this.valueProperty] = numVal;
            } else if (this.itemToEdit && this.primAttr) {
                this.itemToEdit[this.primAttr.getInternalName()] = numVal;
            }
        }

        get fieldLabelComputed () {
            const required = (this.primAttr && this.primAttr.getNotNull()) ? '*' : '';
            return (this.primAttr) ? this.$t(this.primAttr.i18n) + required : '';
        };
};
</script>
