<template>

    <v-card width="100%">
        <v-row no-gutters style="flex-wrap: nowrap;">

            <v-col cols="1" style="min-width: 100px; max-width: 100%;" class="flex-grow-1 flex-shrink-0">
                <v-data-table :headers="headers" :items="filterExpressions" hide-default-footer class="elevation-1" width="80%">
                    <template v-slot:top>
                        <v-banner max-width="500" single-line transition="slide-y-transition">
                            Filter
                            <template v-slot:actions="{ dismiss }">
                                <v-btn text color="primary" @click="editExpressionInDialog(null)"><v-icon>mdi-plus</v-icon></v-btn>
                                <slot name="refresh-btn">x</slot>
                            </template>

                        </v-banner>
                        <v-dialog v-model="isEditDialogVisible" max-width="800px">
                            <v-card>
                                <v-card-title>
                                    <span class="headline">{{$t('JdyFilterPanel.AddExpression')}}</span>
                                </v-card-title>
                                <v-card-text>
                                    <jdy-expr-form :classInfo="classinfo" :expression="editedExpression"> </jdy-expr-form>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="primary" text @click="save">{{$t('JdyFilterPanel.Save')}}</v-btn>
                                    <v-btn text @click="close">{{$t('JdyFilterPanel.Cancel')}}</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>

                    </template>
                    <template v-slot:item.action="{ item }">
                        <v-icon small @click="editExpressionInDialog(item)">
                            mdi-pencil
                        </v-icon>
                        <v-icon small @click="deleteItem(item)">
                            mdi-delete
                        </v-icon>
                    </template>
                    <template v-slot:item.attribute="{ item }">
                        {{item["attribute"].internalName}}
                    </template>
                    <template v-slot:item.operator="{ item }">
                        {{(item["operator"]) ? item["operator"].toString() : ''}}
                    </template>
                    <template v-slot:item.value="{ item }">
                        {{item["value"]}}
                    </template>
                    <template v-slot:no-data>
                        {{$t('JdyFilterPanel.NoData')}}
                    </template>
                </v-data-table>
            </v-col>
            <v-col class="flex-grow-0 flex-shrink-1" cols="1">
                <v-navigation-drawer mini-variant right >
                    <v-list nav dense>
                        <v-list-item @click="openSaveFilter ()" link>
                            <v-list-item-icon><v-icon>mdi-download-outline</v-icon></v-list-item-icon>
                            <v-list-item-title>Save Filter</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="loadFilterVisible = !loadFilterVisible" link>
                            <v-list-item-icon><v-icon>mdi-upload-outline</v-icon></v-list-item-icon>
                            <v-list-item-title>Load Filter</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-navigation-drawer>

            </v-col>
        </v-row>
        <v-dialog v-model="saveFilterVisible"  max-width="500px">
            <v-card>
                <v-card-title>Save Filter</v-card-title>
                <v-card-text>
                    <v-form ref="saveForm" v-model="saveFormValid">
                        <v-text-field v-model="filterNameSaved" label="Filtername" counter="30" :rules="[rules.required]" clearable></v-text-field>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary"  text @click="saveFilter()">
                        Save
                    </v-btn>
                    <v-btn text @click="saveFilterVisible = false">
                        Cancel
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="loadFilterVisible"  max-width="500px">
            <v-card>
                <v-card-title>Load Filter</v-card-title>
                <v-card-text>
                    <v-select  v-model="filterToLoad" :items="allFilterForEntity"  label="All Filters" item-text="title" item-value="filter"></v-select>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary"  text @click="loadFilter()">
                        Load
                    </v-btn>
                    <v-btn text @click="loadFilterVisible = false">
                        Cancel
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script  lang='ts'>

import { Prop, Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';
import {
    convertJsonStringToQuery,
    convertQueryToJsonString,
    convertToJdyQuery,
    JdyNamedJsonFilter,
    OperatorExprHolder
} from '@/js/jdy/jdy-view';
import { JdyAndExpression, JdyClassInfoQuery, JdyOperatorExpression } from '@jdynameta/jdy-base';
import { JdyExpressionForm } from '@jdynameta/jdy-vuetify';

@Component({
    name: 'JdyFilterPanel',
    components: {
        'jdy-expr-form': JdyExpressionForm
    }
})
export default class JdyFilterPanel extends Vue {

        @Prop() classinfo;
        @Prop({ default: [] }) filterExpressions: OperatorExprHolder[] | null | undefined;
        editedExpression: OperatorExprHolder = { operator: null, attribute: null, value: null };
        editedIndex;
        isEditDialogVisible = false;
        saveFilterVisible = false;
        loadFilterVisible = false;
        filterNameSaved = '';
        saveFormValid = true;
        filterToLoad = '';
        rules = {
            required: value => !!value || 'Required.'
        };
        drawer = true;
        mini = true;

        editExpressionInDialog (expressionToEdit): void {

            if (this.filterExpressions) {

                if (expressionToEdit) {
                    this.editedIndex = this.filterExpressions.indexOf(expressionToEdit);
                    this.editedExpression = Object.assign({}, expressionToEdit);
                } else {
                    this.editedIndex = -1;
                    this.editedExpression = { attribute: null, operator: null, value: null };
                }
                this.isEditDialogVisible = true;
            }
        }

        openSaveFilter (): void {
            this.filterNameSaved = '';
            this.saveFilterVisible = true;
        }

        saveFilter (): void {

            // @ts-ignore
            this.$refs.saveForm.validate();
            if (this.saveFormValid) {
                if (this.filterExpressions && this.filterExpressions !== null) {
                    const query: JdyClassInfoQuery = convertToJdyQuery(this.filterExpressions, this.classinfo, []);
                    const queryString = convertQueryToJsonString(query);
                    this.$store.dispatch('addFilter', new JdyNamedJsonFilter(query.entity, this.filterNameSaved, queryString));
                    this.saveFilterVisible = false;
                }
            }
        }

        loadFilter (): void {

            if (this.filterExpressions) {
                this.filterExpressions.splice(0, this.filterExpressions.length);
            }

            const query: JdyClassInfoQuery = convertJsonStringToQuery(this.filterToLoad, this.classinfo);
            if (query.getFilterExpression() instanceof JdyAndExpression) {
                const andExpr = query.getFilterExpression() as JdyAndExpression;
                andExpr.expressionVect.forEach(expr => {
                    if (expr instanceof JdyOperatorExpression) {
                        const opExpr = expr as JdyOperatorExpression;
                        if (this.filterExpressions) {
                            this.filterExpressions.push({ operator: opExpr.getOperator(), attribute: opExpr.attributeInfo, value: opExpr.compareValue });
                        }
                    }
                });
            }
            this.loadFilterVisible = false;
        }

        get allFilterForEntity () {

            const items: any = [];
            const filters = this.$store.state.jdyFilters.allFilters[this.classinfo.getInternalName()];
            if (filters) {
                Object.keys(filters).forEach(filterName => items.push({ title: filterName, filter: filters[filterName] }));
                console.log(items);
            }
            return items;
        }
        deleteItem (listItem, event) {
            if (confirm('Are you sure you want to delete this item?')) {
                if (this.filterExpressions) {
                    this.filterExpressions.splice(this.filterExpressions.findIndex(x => x === listItem), 1);
                }
            }
        }

        close () {
            this.isEditDialogVisible = false;
            setTimeout(() => {
                this.editedExpression = { operator: null, attribute: null, value: null };
            }, 300);
        }

        save () {
            if (this.filterExpressions) {
                if (this.editedIndex > -1) {
                    Object.assign(this.filterExpressions[this.editedIndex], this.editedExpression);
                } else {
                    this.filterExpressions.push(this.editedExpression);
                }
                this.close();
            }
        }

        get headers () {
            return [
                { text: this.$t('JdyFilterPanel.Attribute'), align: 'left', sortable: false, value: 'attribute' },
                { text: this.$t('JdyFilterPanel.Operator'), align: 'left', sortable: false, value: 'operator' },
                { text: this.$t('JdyFilterPanel.Value'), value: 'value', sortable: false },
                { text: this.$t('JdyFilterPanel.Aktion'), value: 'action' }];
        }
}

</script>
