<template>
    <div>
        <div v-if="getType() === 'TEXT'">
            <jdy-string-filter :itemToEdit="selectedItem" :primAttr="primAttr" :valueProperty="valueProperty"></jdy-string-filter>
        </div>
        <div v-else-if="getType() === 'LONG'">
            <jdy-long-filter :itemToEdit="selectedItem" :primAttr="primAttr" :valueProperty="valueProperty"></jdy-long-filter>
        </div>
        <div v-else-if="getType() === 'DECIMAL'">
            <jdy-decimal-filter :itemToEdit="selectedItem" :primAttr="primAttr" :valueProperty="valueProperty"></jdy-decimal-filter>
        </div>
        <div v-else-if="getType() === 'TIMESTAMP'">
            <jdy-timestamp-filter :itemToEdit="selectedItem" :primAttr="primAttr" :valueProperty="valueProperty"></jdy-timestamp-filter>
        </div>
        <div v-else-if="getType() === 'BOOLEAN'">
            <jdy-boolean-filter :itemToEdit="selectedItem" :primAttr="primAttr" :valueProperty="valueProperty"></jdy-boolean-filter>
        </div>
        <div v-else>
            <div>Not Defined</div>
        </div>
    </div>
</template>

<script  lang='ts'>

    import {Prop, Vue} from 'vue-property-decorator';
    import Component from 'vue-class-component';
    import {JdyPrimitiveAttributeInfo} from "@jdynameta/jdy-base";
    import JdyBooleanFilterField from "../boolean/JdyBooleanFilterField.vue";
    import JdyDecimalFilterField from "../decimal/JdyDecimalFilterField.vue";
    import JdyLongFilterField from "../long/JdyLongFilterField.vue";
    import JdyStringFilterField from "../string/JdyStringFilterField.vue";
    import JdyTimestampFilterField from "../timestamp/JdyTimestampFilterField.vue";

    @Component( {
        name: 'jdy-filter-field',
        components: {
          'jdy-boolean-filter': JdyBooleanFilterField,
          'jdy-decimal-filter': JdyDecimalFilterField,
          'jdy-long-filter': JdyLongFilterField,
          'jdy-string-filter': JdyStringFilterField,
          'jdy-timestamp-filter': JdyTimestampFilterField
        }
    })
    export default class JdyPrimitiveFilterFieldHolder extends Vue {
        @Prop({default: null}) primAttr: JdyPrimitiveAttributeInfo | null | undefined;
        @Prop() selectedItem: any;
        @Prop({default: null}) valueProperty: string | null | undefined;

        getType () {
            return (this.primAttr) ? this.primAttr.getType().getType() : null;
        }

     };

</script>
