<template>

    <v-card width="100%">
        <v-row no-gutters style="flex-wrap: nowrap;">

            <v-col cols="1" style="min-width: 100px; max-width: 100%;" class="flex-grow-1 flex-shrink-0">
                <v-data-table :headers="headers" :items="filterExpressions" hide-default-footer class="elevation-1" width="80%">
                    <template v-slot:top>
                        <v-banner max-width="500" single-line transition="slide-y-transition">
                            Filter
                            <template v-slot:actions="{ dismiss }">
                                <v-btn text color="primary" @click="editExpressionInDialog(null)"><v-icon>mdi-plus</v-icon></v-btn>
                                <slot name="refresh-btn">x</slot>
                            </template>

                        </v-banner>
                        <v-dialog v-model="isEditDialogVisible" max-width="800px">
                            <v-card>
                                <v-card-title>
                                    <span class="headline">{{$t('JdyFilterPanel.AddExpression')}}</span>
                                </v-card-title>
                                <v-card-text>
                                    <jdy-expr-form :classInfo="classinfo" :expression="editedExpression"> </jdy-expr-form>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="primary" text @click="save">{{$t('JdyFilterPanel.Save')}}</v-btn>
                                    <v-btn text @click="close">{{$t('JdyFilterPanel.Cancel')}}</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>

                    </template>
                    <template v-slot:item.action="{ item }">
                        <v-icon small @click="editExpressionInDialog(item)">
                            mdi-pencil
                        </v-icon>
                        <v-icon small @click="deleteItem(item)">
                            mdi-delete
                        </v-icon>
                    </template>
                    <template v-slot:item.attribute="{ item }">
                        {{item["attribute"].internalName}}
                    </template>
                    <template v-slot:item.operator="{ item }">
                        {{(item["operator"]) ? item["operator"].toString() : ''}}
                    </template>
                    <template v-slot:item.value="{ item }">
                        {{item["value"]}}
                    </template>
                    <template v-slot:no-data>
                        {{$t('JdyFilterPanel.NoData')}}
                    </template>
                </v-data-table>
            </v-col>
         </v-row>

    </v-card>
</template>

<script  lang='ts'>

    import {Prop, Vue} from 'vue-property-decorator';
    import Component from 'vue-class-component';
    import { OperatorExprHolder } from "@jdynameta/jdy-view";
    import { JdyClassInfo } from "@jdynameta/jdy-base";
    import JdyExpressionForm from "../expression/JdyExpressionForm.vue";


    @Component( {
        name: 'jdy-filter-panel',
        components: {
          'jdy-expr-form': JdyExpressionForm
        }
    })
    export default class JdyFilterPanel extends Vue {

        @Prop() classinfo!: JdyClassInfo;
        @Prop({default: []}) filterExpressions:  OperatorExprHolder[] | null | undefined;
        editedExpression:  OperatorExprHolder = {operator: null, attribute: null, value: null};
        editedIndex!: number;
        isEditDialogVisible = false;
        saveFilterVisible = false;
        loadFilterVisible = false;
        filterNameSaved = "";
        filterToLoad: string = '';
        drawer = true;
        mini = true;

        editExpressionInDialog (expressionToEdit: OperatorExprHolder) {

            if (this.filterExpressions) {

                if(expressionToEdit) {
                    this.editedIndex = this.filterExpressions.indexOf(expressionToEdit);
                    this.editedExpression = Object.assign({}, expressionToEdit);
                } else {
                    this.editedIndex = -1;
                    this.editedExpression = { attribute: null, operator: null, value: null};
                }
                this.isEditDialogVisible = true;
            }
        }

        openSaveFilter () {
            this.filterNameSaved = '';
            this.saveFilterVisible = true;
        }

        deleteItem (listItem: OperatorExprHolder) {
            if (confirm('Are you sure you want to delete this item?') ) {
                if (this.filterExpressions) {
                    this.filterExpressions.splice(this.filterExpressions.findIndex(x => x === listItem), 1);
                }
            }
        }

        close () {
            this.isEditDialogVisible = false;
            setTimeout(() => {
                this.editedExpression = {operator: null, attribute: null, value: null};
            }, 300);
        }

        save () {
            if (this.filterExpressions) {
                if (this.editedIndex > -1) {
                    Object.assign(this.filterExpressions[this.editedIndex], this.editedExpression);
                } else {
                    this.filterExpressions.push(this.editedExpression);
                }
                this.close();
            }
        }

        get headers() {
            return  [
                { text: this.$t('JdyFilterPanel.Attribute'), align: 'left', sortable: false, value: 'attribute' },
                { text: this.$t('JdyFilterPanel.Operator'), align: 'left', sortable: false, value: 'operator' },
                { text: this.$t('JdyFilterPanel.Value'), value: 'value', sortable: false },
                { text: this.$t('JdyFilterPanel.Aktion'), value: 'action' }];
        }
    }

</script>
