<template>
    <v-app id="inspire">
        <v-snackbar v-model="showNotification" color='info' :top='true'
                    :multi-line=true :timeout='6000' >
          {{ notificationMessage }}
          <v-btn dark text @click="showNotification = false">Close</v-btn>
        </v-snackbar>
        <v-navigation-drawer  v-model="drawer" app>
            <v-list rounded>
                <v-list-item-group>
                    <v-list-item href="#/">
                        <v-list-item-icon> <v-icon>mdi-home</v-icon> </v-list-item-icon>
                        <v-list-item-content> <v-list-item-title>Home</v-list-item-title> </v-list-item-content>
                    </v-list-item>
                    <v-subheader>Entities From JPA Metadata</v-subheader>
                    <v-list-item v-for="(item, i) in menuitems" :key="i" :href="item.href">
                        <v-list-item-icon> <v-icon v-html="item.icon"></v-icon> </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title  v-text="item.title"></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                    <v-subheader>I18n</v-subheader>
                    <v-list-item href="#/jdy/I18n">
                        <v-list-item-icon> <v-icon>mdi-translate</v-icon> </v-list-item-icon>
                        <v-list-item-content> <v-list-item-title>I18n Editor</v-list-item-title> </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar
                app
                color="indigo"
                dark
        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>Jdy</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu left bottom>
                <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                        <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                </template>

                <v-list>
                    <v-list-item @click="() => {switchToLang('de')}">
                        <v-list-item-avatar>
                            <v-img src="/img/icons/germany-flag-square-icon-128.png"></v-img>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title>deutsch</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item @click="() => {switchToLang('en')}">
                        <v-list-item-avatar>
                            <v-img src="img/icons/united-kingdom-flag-square-icon-64.png"></v-img>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title>english</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>

        <v-content>
            <router-view @jdy-notification="doNotification"></router-view>
        </v-content>
        <v-footer
                color="indigo"
                app
        >
            <span class="white--text">&copy; 2019</span>
        </v-footer>
    </v-app>
</template>

<script lang="ts">

import Component from 'vue-class-component';
import { Vue } from 'vue-property-decorator';
import { JdyRepository } from '@jdynameta/jdy-base';

@Component({
    name: 'App',
    components: {
    }
})
export default class App extends Vue {

    right = true;
    title = 'Jdy';
    about = '-fetch-';
    drawer = null;
    showNotification= false;
    notificationMessage= '';

    doNotification (value: string) {
        this.showNotification = true;
        this.notificationMessage = value;
    }

    mounted (): void {
        this.$store.dispatch('fetchJpaRepository');
    }

    switchToLang (lang): void {
        this.$i18n.locale = lang;
    }

    get menuitems (): any[] {
        return this.jpaMenuItems;
    }

    get jpaMenuItems (): any[] {

        const repo: JdyRepository = this.$store.state.jpa.repo;
        const result: any[] = [];
        if (repo) {
            repo.getClasses()
                .sort((a, b) => a.getInternalName().localeCompare(b.getInternalName()))
                .filter(value => value.getStandalone())
                .forEach(value => {
                    result.push({
                        title: value.getInternalName(),
                        icon: 'dashboard',
                        href: '#/jdy/' + value.getInternalName()
                    });
                });
        }
        return result;
    }
};
</script>
