<template>
    <v-form ref="form" lazy-validation>

        <v-row v-for="(rowFields,rowNr) in smallFields" :key="rowNr">

          <v-col v-for="(formfield,colNr) in rowFields" :key="colNr" class="pr-2" :cols="12" :md="12/colCount" :sm="12" :xs="12">
            <template v-if="formfield.isPrimitive()">
              <jdy-primitive :itemToEdit="itemToEdit" :primAttr="formfield"></jdy-primitive>
            </template>
            <template v-else>
              <jdy-object-reference :itemToEdit="itemToEdit" :ref-attr="formfield" />
            </template>
          </v-col>
        </v-row>
        <v-row v-for="(rowFields,rowNr) in largeFields" :key="rowNr">

          <v-col v-for="(formfield,colNr) in rowFields" :key="colNr" class="pr-2" :cols="12" :md="12/colCount" :sm="12" :xs="12">
             <jdy-primitive :itemToEdit="itemToEdit" :primAttr="formfield"></jdy-primitive>
          </v-col>
        </v-row>
    </v-form>
</template>

<script  lang='ts'>

    import {Prop, Vue} from 'vue-property-decorator';
    import Component from 'vue-class-component';
    import {JdyAttributeInfo, JdyClassInfo, JdyPrimitiveAttributeInfo, JdyDataType} from "@jdynameta/jdy-base";
    import JdyPrimitiveComponentHolder from "../part/primitive/JdyPrimitiveComponentHolder.vue";
    import JdyObjectReferenceField from "../part/reference/JdyObjectReferenceField.vue";

    function allLargeFields (classInfo: JdyClassInfo) {
        const allFields: JdyAttributeInfo[] = [];
        classInfo.forEachAttr(attrInfo => {
            if (attrInfo.isPrimitive()) {
                const primitiveInfo = attrInfo as JdyPrimitiveAttributeInfo;
                if (primitiveInfo.getType().getType() === JdyDataType.JDY_BLOB
                    || primitiveInfo.getType().getType() === JdyDataType.JDY_TEXT) {
                  allFields.push(attrInfo);
                }
            }
        });
        return allFields;
    }

    function allSmallFields(classInfo: JdyClassInfo) {

        const allFields: JdyAttributeInfo[] = [];
        classInfo.forEachAttr(attrInfo => {
          if (attrInfo.isPrimitive()) {
            const primitiveInfo = attrInfo as JdyPrimitiveAttributeInfo;
            if (primitiveInfo.getType().getType() !== JdyDataType.JDY_BLOB
              && primitiveInfo.getType().getType() !== JdyDataType.JDY_TEXT) {
                allFields.push(attrInfo);
            }
          } else {
            allFields.push(attrInfo);
          }
        });
        return allFields;
    }

    @Component( {
        name: 'jdy-generated-panel2',
        components: {
          'jdy-primitive': JdyPrimitiveComponentHolder,
          'jdy-object-reference': JdyObjectReferenceField
        }
    })
    export default class JdyGeneratedPanel2 extends Vue {

      @Prop({default: null}) classinfo: JdyClassInfo | null | undefined;
      @Prop() itemToEdit: any;
      @Prop({default: 4}) colCount: any;


      private convertToMatrix(fieldsFromClassInfo: JdyAttributeInfo[]) {

        let fieldsMatrix: JdyAttributeInfo[][] = [];
        let rowNr = -1;
        for (let i = 0; i < fieldsFromClassInfo.length; i++) {
          if (i % this.colCount == 0) {
            fieldsMatrix.push([]);
            rowNr++;
          }
          fieldsMatrix[rowNr].push(fieldsFromClassInfo[i]);
        }
        return fieldsMatrix;
      }

      get smallFields() {

          let fieldsFromClassInfo: JdyAttributeInfo[]= [];
          if (this.classinfo) {
              fieldsFromClassInfo = allSmallFields(this.classinfo);
          }
        return this.convertToMatrix(fieldsFromClassInfo);
      }

      get largeFields() {

          let fieldsFromClassInfo: JdyAttributeInfo[]= [];
          if (this.classinfo) {
              fieldsFromClassInfo = allLargeFields(this.classinfo);
          }
        return this.convertToMatrix(fieldsFromClassInfo);
      }
    };
</script>
