<template>

    <div>
        <v-snackbar v-model="showMessage" color='error' :top='true' :multi-line=true :timeout='6000' >
            {{ errorMessage }}
            <v-btn dark text @click="showMessage = false">Close</v-btn>
        </v-snackbar>
        <v-data-table :headers="headers"  :items="items"   class="elevation-1"
                      :footer-props="{
                        'items-per-page-options': [10, 50, 100, 500, 1000, -1]
                      }">
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-toolbar-title>{{typeName}}</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <slot name="header-action"/>
                </v-toolbar>
            </template>
            <template v-slot:item.action="{ item }">
              <slot  name="item-action" v-bind:item="item" />
            </template>
            <template v-slot:no-data>
                No Data found
            </template>
            <template  v-for="attr in booleanAttrs" v-slot:[attr.item]="{ item }">
                <v-checkbox v-model="item[attr.attr]" class="mx-2" disabled></v-checkbox>
            </template>
            <template  v-for="dateItem in dateAttrs" v-slot:[dateItem.item]="{ item }">
                {{new Date(item[dateItem.attr]).toLocaleDateString()}}
            </template>
        </v-data-table>
    </div>
</template>

<script  lang='ts'>

import {Prop, Vue} from 'vue-property-decorator';
import Component from 'vue-class-component';
import {
    JdyClassInfo,
    JdyPrimitiveAttributeInfo
} from "@jdynameta/jdy-base";

var editHeader = [
    {
        text: 'Edit',
        align: 'left',
        sortable: false,
        value: 'action'
    }
];

@Component( {
    name: 'jdy-simple-table',
    components: {
    }
})
export default class JdySimpleTable extends Vue {

    @Prop({default: null}) items!: any;
    @Prop({default: null}) columns!: any;
    @Prop({default: null}) classinfo!: JdyClassInfo;

    showMessage = false;
    errorMessage = '';

        // a computed getter
    get headers () {
            return editHeader.concat(this.columns);
     }

      get booleanAttrs() {
            let allBooleanAttrs: any[] = [];
            if (this.classinfo) {
                this.classinfo.forEachAttr(attrInfo => {
                    if (attrInfo.isPrimitive()) {
                        const primType = attrInfo as JdyPrimitiveAttributeInfo;
                        if (primType.getType().getType() === 'BOOLEAN') {
                            allBooleanAttrs.push({item: 'item.' + attrInfo.getInternalName(), attr: attrInfo.getInternalName()});
                        }
                    }
                });
            }
            return allBooleanAttrs;
    }

    get dateAttrs() {

        let allDateAttrs: any[] = [];
        if (this.classinfo) {
            this.classinfo.forEachAttr(attrInfo => {
                if (attrInfo.isPrimitive()) {
                    const primType = attrInfo as JdyPrimitiveAttributeInfo;
                    if (primType.getType().getType() === 'TIMESTAMP') {
                        allDateAttrs.push({item: 'item.' + attrInfo.getInternalName(), attr: attrInfo.getInternalName()});
                    }
                }
            });
        }
        return allDateAttrs;
    }

    get typeName() {
        return (this.classinfo) ? this.classinfo.getInternalName(): "";
    }
};
</script>
