<template>
    <div class="home">
        <img alt="Vue logo" src="../assets/logo.png"/>
        <div>About: {{aboutMessage}}</div>
        <div>Mode: {{readMode}}</div>
    </div>
</template>

<script lang="ts">

import { Component, Vue } from 'vue-property-decorator';

@Component({
    components: {
    }
})
export default class Home extends Vue {

    aboutMessage = '-not initialized';
    // @ts-ignore
    readMode = 'Read data from server';

    mounted (): void {
        this.fetchAbout();
    }

    fetchAbout (): void {
        fetch(new Request('jdy/about'))
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    // @ts-ignore
                    if (response.error) {
                        // @ts-ignore
                        throw new Error('Error reading data from server: ' + response.error);
                    } else {
                        throw new Error('Error reading data from server:');
                    }
                }
            })
            .then(data => { this.aboutMessage = data; return null; })
            .catch(error => {
                console.log(error);
                this.aboutMessage = '- Error reading data from server -';
            });
    }

}
</script>
