<template>
    <div>
        <div v-if="getType() === 'TEXT'">
            <jdy-string :itemToEdit="itemToEdit" :primAttr="primAttr" :valueProperty="valueProperty"></jdy-string>
        </div>
        <div v-else-if="getType() === 'LONG'">
            <jdy-long :itemToEdit="itemToEdit" :primAttr="primAttr" :valueProperty="valueProperty"></jdy-long>
        </div>
        <div v-else-if="getType() === 'DECIMAL'">
            <jdy-decimal :itemToEdit="itemToEdit" :primAttr="primAttr" :valueProperty="valueProperty"></jdy-decimal>
        </div>
        <div v-else-if="getType() === 'TIMESTAMP'">
            <jdy-timestamp :itemToEdit="itemToEdit" :primAttr="primAttr" :valueProperty="valueProperty"></jdy-timestamp>
        </div>
        <div v-else-if="getType() === 'BOOLEAN'">
            <jdy-boolean :itemToEdit="itemToEdit" :primAttr="primAttr" :valueProperty="valueProperty"></jdy-boolean>
        </div>
        <div v-else-if="getType() === 'VARCHAR'">
            <jdy-text :itemToEdit="itemToEdit" :primAttr="primAttr" :valueProperty="valueProperty"></jdy-text>
        </div>
        <div v-else-if="getType() === 'BLOB'">
            <jdy-image :itemToEdit="itemToEdit" :primAttr="primAttr" :valueProperty="valueProperty"></jdy-image>
        </div>
        <div v-else>
            <div>Not Defined</div>
        </div>
    </div>
</template>

<script  lang='ts'>

    import {Prop, Vue} from 'vue-property-decorator';
    import Component from 'vue-class-component';
    import {JdyPrimitiveAttributeInfo} from "@jdynameta/jdy-base";
    import JdyBooleanField from "../boolean/JdyBooleanField.vue";
    import JdyDecimalField from "../decimal/JdyDecimalField.vue";
    import JdyImageField from "../image/JdyImageField.vue";
    import JdyLongField from "../long/JdyLongField.vue";
    import JdyStringField from "../string/JdyStringField.vue";
    import JdyTextField from "../text/JdyTextField.vue";
    import JdyTimestampField from "../timestamp/JdyTimestampField.vue";

    @Component( {
        name: 'jdy-primitive',
        components: {
          'jdy-boolean': JdyBooleanField,
          'jdy-decimal': JdyDecimalField,
          'jdy-image': JdyImageField,
          'jdy-long': JdyLongField,
          'jdy-string': JdyStringField,
          'jdy-text': JdyTextField,
          'jdy-timestamp': JdyTimestampField
        }
    })
    export default class JdyPrimitiveComponentHolder extends Vue {
        @Prop({default: null}) primAttr: JdyPrimitiveAttributeInfo | null | undefined;
        @Prop() itemToEdit: any;
        @Prop({default: null}) valueProperty: string | null | undefined;

        getType () {
            return (this.primAttr) ? this.primAttr.getType().getType() : null;
        }

     };

</script>
