<template>
    <v-text-field  v-model="fieldValue"
                   label="Edit" clearable ></v-text-field>
</template>

<script  lang='ts'>

import { Prop, Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';
import { JdyI18nEntry } from '@jdynameta/jdy-i18n';

    @Component({
        name: 'JdyI18nStringField',
        components: {
        }
    })
export default class JdyI18nStringField extends Vue {

        @Prop({ default: null }) i18nEntry: JdyI18nEntry | null | undefined;
        @Prop({ default: 'de' }) lang: string | null | undefined;

        get fieldValue () {
            return (this.i18nEntry && this.lang) ? this.i18nEntry.getTranslation(this.lang) : '';
        }

        set fieldValue (val) {
            if (this.i18nEntry && this.lang) {
                this.i18nEntry.setTranslationText(this.lang, val);
            }
        }
}

</script>
