<template>
    <div>
        <v-data-table :headers="headers" :items="i18nEntries">
            <template v-slot:item.german="{ item }">
                <v-edit-dialog  @save="save"  @cancel="cancel"   @open="open"  @close="close">
                {{item.getTranslation('de')}}
                    <template v-slot:input>
                        <jdy-i18n :i18nEntry="item" lang="de"></jdy-i18n>
                    </template>
                </v-edit-dialog>
            </template>
            <template v-slot:item.english="{ item }">
                <v-edit-dialog  @save="save"  @cancel="cancel"   @open="open"  @close="close">
                    {{item.getTranslation('en')}}
                    <template v-slot:input>
                        <jdy-i18n :i18nEntry="item" lang="en"></jdy-i18n>
                    </template>
                </v-edit-dialog>
            </template>
            <template v-slot:item.action="{ item }">
                <v-icon small @click="translateToGerman(item)">
                    mdi-translate
                </v-icon>
                EN -> DE
            </template>
        </v-data-table>

        <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
            {{ snackText }}
            <v-btn text @click="snack = false">Close</v-btn>
        </v-snackbar>
    </div>
</template>

<script  lang='ts'>

import { Prop, Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';
import { convertI18nEntriesInfoI18nJson, yandexTranslate } from '@jdynameta/jdy-i18n';

    @Component({ name: 'JdyI18nEditTable', components: {} })
export default class JdyI18nEditTable extends Vue {
        snack = false;
        snackColor = '';
        snackText = '';
        pagination = {};
        headers = [
            { text: 'Repository', align: 'left', value: 'repoName' },
            { text: 'Classname', value: 'className' },
            { text: 'Attributename', value: 'attributeName' },
            { text: 'English', value: 'english' },
            { text: 'German', value: 'german' },
            { text: 'Actions', value: 'action' }
        ];

        get i18nEntries () {

            return this.$store.getters.allJdyI18n;
        }

        save () {
            this.snack = true;
            this.snackColor = 'success';
            this.snackText = 'Data saved';
            const messages = convertI18nEntriesInfoI18nJson(this.$store.getters.allJdyI18n);
            this.$i18n.mergeLocaleMessage('de', messages['de']);
            this.$i18n.mergeLocaleMessage('en', messages['en']);
        };

        cancel () {
            this.snack = true;
            this.snackColor = 'error';
            this.snackText = 'Canceled';
        };

        open () {
            this.snack = true;
            this.snackColor = 'info';
            this.snackText = 'Dialog opened';
        };

        close () {
            console.log('Dialog closed');
        };

        translateToGerman (item) {
            console.log('Transalte');
            console.log(item);
            console.log(item.getTranslation('en'));
            yandexTranslate(item.getTranslation('en'), 'de')
                .then(data => {
                    if (data.text[0]) {
                        item.setTranslation('de', data.text[0]);
                        const messages = convertI18nEntriesInfoI18nJson(this.$store.getters.allJdyI18n);
                        this.$i18n.mergeLocaleMessage('de', messages['de']);
                        this.$i18n.mergeLocaleMessage('en', messages['en']);
                    }
                });
        }
}

</script>
