<template>
    <div>
        <v-text-field v-model="referenceString" disabled hint="Object Referenz" :label="fieldLabel"></v-text-field>
    </div>
</template>

<script  lang='ts'>

    import {Prop, Vue} from 'vue-property-decorator';
    import Component from 'vue-class-component';
    import {JdyObjectReferenceInfo} from "@jdynameta/jdy-base";

    //Vue.component('jdy-boolean', JdyBooleanField);

    @Component( {
        name: 'jdy-object-reference',
        components: {
        }
    })
    export default class JdyObjectReferenceField extends Vue {

        @Prop({default: null}) refAttr: JdyObjectReferenceInfo | null | undefined;
        @Prop() itemToEdit: any;
        // property to get/set the value from the itemToEdit, when null use this.primAttr.getInternalName()
        @Prop({default: null}) valueProperty: string | null | undefined;

        get isReadonly() {
          return (this.refAttr) ? this.refAttr.isGenerated() : true;
        }

        get referenceString (): string {

          let result = '';
          let refObject: any = this.fieldValue;
          // get values of key attributes in referenced object
          if (this.refAttr && this.refAttr.getReferencedClass() && refObject) {

            this.refAttr.getReferencedClass()
                .forEachAttr( (attr) => {
                      if (attr.isKey()) {
                        const attrValue = refObject[attr.getInternalName()]
                        result += attrValue;
                      }
                    }
                )
          }

          return result;
        }

        set referenceString (val) {
          // TODO
          console.log(val);
        }

        get fieldValue() {
            if (this.valueProperty) {
                return (this.itemToEdit) ? this.itemToEdit[this.valueProperty] : "";
            } else {
                return (this.itemToEdit  && this.refAttr) ? this.itemToEdit[this.refAttr.getInternalName()] : "";
            }
        }

        set fieldValue (val) {
            if (this.valueProperty) {
                this.itemToEdit[this.valueProperty] = val;
            } else if (this.itemToEdit  && this.refAttr) {
                this.itemToEdit[this.refAttr.getInternalName()] = val;
            }
        }

        get fieldLabel ()  {
            const required = (this.refAttr && this.refAttr.getNotNull()) ? '*' : '';
            return (this.refAttr && this.refAttr.getInternalName()) ? this.$t(this.refAttr.i18n) + required : '';
        }

    }
</script>
