<script lang="ts">
import Vue from 'vue';
// Uncomment import and local "components" registration if library is not registered globally.
// import { JdyVuetifySample } from '@/entry.esm';

export default Vue.extend({
  name: 'ServeDev',
  // components: {
  //  JdyVuetifySample,
  // }
});
</script>

<template>
  <div id="app">
    <jdy-vuetify-sample />
  </div>
</template>
