<template>
  <v-container class="fill-height"  fluid>
    <v-row justify="center" >
      <div>
        <h1>JDynaMeta</h1>
        <h2>Prototyping Editor</h2>
        <p>Prototype application from Metadata defined in Javascript code</p>
        <v-btn link  href="#/jdy/AceEditor" color="primary" text>
          <v-icon left>mdi-code-tags</v-icon> Editor
        </v-btn>
      </div>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from '@/components/HelloWorld.vue'; // @ is an alias to /src

@Component({
  components: {
  },
})
export default class Home extends Vue {}
</script>
