<template>

    <div>
        <v-banner max-width="300" single-line transition="slide-y-transition">

            <template v-slot:actions="{ }">
                <v-btn text color="primary" @click="useCode()"><v-icon>mdi-page-next</v-icon>Generate</v-btn>
            </template>

        </v-banner>
        <editor ref='myEditor' v-model="content" @init="editorInit" lang="javascript" theme="twilight" width="800" height="600"></editor>

    </div>
</template>

<script  lang='ts'>

    import {Vue} from 'vue-property-decorator';
    import Component from 'vue-class-component';
    import {JdyRepository} from "@jdynameta/jdy-base";

    @Component( {
        name: 'JdyBooleanField',
        components: {
            editor: require('vue2-ace-editor')
        }
    })
    export default class JdyBooleanField extends Vue {

        content = "";

        mounted () {
            const myRequest = new Request('test/testRepo.js');
            return fetch(myRequest)
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        this.content = "Error loading Data";
                        // @ts-ignore
                        if (response.error) {
                           // @ts-ignore
                            throw new Error('Error reading data from server: ' + response.error);
                        } else {
                            throw new Error('Error reading data from server:');
                        }
                    }
                }).then(data => {
                    this.content  = data;
                }
                );
        }

        useCode() {
            const repositoryFunc = eval( this.content  );
            const repo = repositoryFunc((repoName: string)=>{return new JdyRepository(repoName)});
            this.$store.dispatch('prototyping/setDynamicRepo', repo)
        }

        editorInit () {
            require('brace/ext/language_tools');//language extension prerequsite...
            require('brace/mode/html');
            require('brace/mode/javascript');    //language
            require('brace/mode/less');
            require('brace/theme/twilight');
            require('brace/snippets/javascript'); //snippet
        }
    }
</script>


