<template>
    <div>
        <jdy-simple-table :items="holderItems" :columns="columns" :classinfo="classInfo"></jdy-simple-table>
    </div>
</template>

<script  lang='ts'>

import { Prop, Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';
import {
  JdyAssociationModel,
  JdyAttributeInfo,
  JdyPrimitiveAttributeInfo,
  JdyPrimitiveTypeVisitor,
  JdyClassInfo
} from '@jdynameta/jdy-base';
// @ts-ignore
import {JdySimpleTable} from "@jdynameta/jdy-vuetify";

@Component({
    name: 'jdy-assoc-table',
    components: {
      'jdy-simple-table': JdySimpleTable,
    }
})
export default class JdyAssocTable extends Vue {

    @Prop() associationInfo!: JdyAssociationModel;
    @Prop() editedItem!: any;
    readonly undefinedColumns = [{
        text: '#Undefined',
        left: true,
        sortable: false
    }
    ];
    readonly undefinedData = [
    ];

    get columns () {
        return (this.associationInfo) ? this.convertToColumns(this.associationInfo.getDetailClass()) : this.undefinedColumns;
    }

    get classInfo () {
        return (this.associationInfo) ? this.associationInfo.getDetailClass() : null;
    }

    get holderItemsList () {
        return (this.associationInfo && this.editedItem && this.editedItem.assocVals) ?
            this.editedItem.assocVals(this.associationInfo) :
            this.undefinedData;
    }

    get holderItems () {
        return (this.associationInfo && this.editedItem && this.editedItem.assocVals) ?
            this.editedItem.assocVals(this.associationInfo).getObjects() :
            this.undefinedData;
    }

    primitiveTypeToColumnHandler (attrInfo: JdyAttributeInfo): JdyPrimitiveTypeVisitor {
        return {
            handleBoolean: function (): any {
                return {
                    text: attrInfo.getInternalName(),
                    align: 'left',
                    value: attrInfo.getInternalName(),
                    left: true
                };
            },

            handleDecimal: function (): any {
                return {
                    text: attrInfo.getInternalName(),
                    align: 'left',
                    value: attrInfo.getInternalName()
                };
            },

            handleTimeStamp: function (): any {
                return {
                    text: attrInfo.getInternalName(),
                    align: 'left',
                    value: attrInfo.getInternalName()
                };
            },

            handleFloat: function (): any {
                return {
                    text: attrInfo.getInternalName(),
                    align: 'left',
                    value: attrInfo.getInternalName()
                };
            },

            handleLong: function (): any {
                return {
                    text: attrInfo.getInternalName(),
                    align: 'left',
                    value: attrInfo.getInternalName()
                };
            },

            handleText: function (): any {
                return {
                    text: attrInfo.getInternalName(),
                    align: 'left',
                    value: attrInfo.getInternalName(),
                    left: true
                };
            },

            handleVarChar: function (): any {
                return null;
            },

            handleBlob: function (): any {
                return null;
            }
        };
    }

    convertToColumns (classInfo: JdyClassInfo) {
        const allColumns: any[] = [];
        classInfo.forEachAttr(attrInfo => {
            if (attrInfo.isPrimitive()) {
              const primitiveInfo = attrInfo as JdyPrimitiveAttributeInfo;
              const newCol = primitiveInfo.getType().handlePrimitiveKey(this.primitiveTypeToColumnHandler(primitiveInfo));
                if (newCol) {
                    allColumns.push(newCol);
                }
            }
        });
        return allColumns;
    }
}
</script>
