<template>
    <div>
      <jdy-filter-panel :classinfo="classinfo" :filterExpressions="filterExpressions">
          <template v-slot:refresh-btn>
              <v-btn text color="primary" @click="reloadFilteredData()"><v-icon>mdi-refresh</v-icon></v-btn>
          </template>
      </jdy-filter-panel>
      <v-divider class="mt-4"></v-divider>
      <jdy-simple-table :items="holderItems" :columns="columns" :classinfo="classinfo">
        <template v-slot:header-action>
          <v-btn color="primary" dark class="mb-2" @click="editInDialog(null)">New Item</v-btn>
        </template>
        <template v-slot:item-action="{ item }">
          <v-icon small  @click="editInDialog(item)">
            mdi-pencil
          </v-icon>
          <v-icon small  @click="deleteItem(item)">
            mdi-delete
          </v-icon>
        </template>
      </jdy-simple-table>
      <v-dialog v-model="isEditDialogVisible" max-width="500px">
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <v-card-text>
            <jdy-generated-panel :itemToEdit="editedItem" :classinfo="classinfo"></jdy-generated-panel>
            <template v-if="formAssocs.length > 0">
              <v-tabs background-color="#DDDDDD">
                <v-tab  v-for="(assoc,index2) in formAssocs"  :key="index2">
                  {{ assoc.getAssocName () }}
                </v-tab>
                <v-tab-item v-for="(assocItem,index3) in formAssocs"  :key="index3">
                  <jdy-assoc-table :associationInfo="assocItem" :editedItem="editedItem" ></jdy-assoc-table>
                </v-tab-item>
              </v-tabs>
            </template>

          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" text @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </div>
</template>

<script  lang='ts'>

import {JdyObjectReader, JsonFileObjectReader, JsonFileObjectWriter} from "@jdynameta/jdy-http";
    import {Prop, Vue, Watch} from 'vue-property-decorator';
    import Component from 'vue-class-component';
import {
  JdyAttributePath,
  JdyDataType,
  JdyPrimitiveAttributeInfo,
  JdyClassInfo,
  JdyAttributeInfo,
  JdyPrimitiveTypeVisitor,
  JdyTypedValueObject, JdyAssociationModel
} from "@jdynameta/jdy-base";
    import {convertToJdyQuery, OperatorExprHolder} from "@jdynameta/jdy-view";
    // @ts-ignore
    import {JdySimpleTable, JdyGeneratedPanel, JdyFilterPanel} from "@jdynameta/jdy-vuetify";
import JdyAssocTable from "./JdyAssocTable.vue";

@Component( {
    name: 'JdyHolder',
    components: {
      'jdy-simple-table': JdySimpleTable,
      'jdy-filter-panel': JdyFilterPanel,
      'jdy-generated-panel': JdyGeneratedPanel,
      'jdy-assoc-table': JdyAssocTable
    }
})
export default class JdyHolder extends Vue {

  primitiveTypeToColumnHandler (attrInfo: JdyAttributeInfo): JdyPrimitiveTypeVisitor {
    return {
      handleBoolean: function (): any {
        return {
          text: attrInfo.getInternalName(),
          align: 'left',
          value: attrInfo.getInternalName(),
          left: true
        };
      },

      handleDecimal: function (): any {
        return {
          text: attrInfo.getInternalName(),
          align: 'left',
          value: attrInfo.getInternalName()
        };
      },

      handleTimeStamp: function (): any {
        return {
          text: attrInfo.getInternalName(),
          align: 'left',
          value: attrInfo.getInternalName()
        };
      },

      handleFloat: function (): any {
        return {
          text: attrInfo.getInternalName(),
          align: 'left',
          value: attrInfo.getInternalName()
        };
      },

      handleLong: function (): any  {
        return {
          text: attrInfo.getInternalName(),
          align: 'left',
          value: attrInfo.getInternalName()
        };
      },

      handleText: function (): any  {
        return {
          text: attrInfo.getInternalName(),
          align: 'left',
          value: attrInfo.getInternalName(),
          left: true
        };
      },

      handleVarChar: function (): any  {
        return null;
      },

      handleBlob: function (): any  {
        return null;
      }
    };
  }

  get formTitle () {
    return this.editedIndex === -1 ? 'New ' + this.typeName : 'Edit ' + this.typeName;
  }

  get typeName() {
    return (this.classinfo) ? this.classinfo.getInternalName(): "";
  }

  convertToColumns (aClassInfo: JdyClassInfo, $i18n: any) {
      const allColumns: any[]  = [];
      aClassInfo.forEachAttr(attrInfo => {
        if (attrInfo.isPrimitive()) {
          const primitiveInfo = attrInfo as JdyPrimitiveAttributeInfo;
          const newCol = primitiveInfo.getType().handlePrimitiveKey(this.primitiveTypeToColumnHandler(primitiveInfo));
          if (newCol) {
            newCol.text = $i18n.t(attrInfo.i18n);
            allColumns.push(newCol);
          }
        }
      });
      return allColumns;
    }

    @Prop() classinfo!: JdyClassInfo;
    readonly undefinedColumns = [{
            text: '#Undefined',
            left: true,
            sortable: false,
            value: (item: any) => item['BotanicName']
        }
        ];
    readonly undefinedData: any[] = [];

    holderItems: any[] = this.undefinedData;
    filterExpressions: OperatorExprHolder[] = [];
    reader: JdyObjectReader = new JsonFileObjectReader('/');
    writer = new JsonFileObjectWriter();
    editedIndex: null|  number = null;
    isEditDialogVisible = false;
    editedItem = {};

    get columns() {
      console.log("!!!!columns");
      console.log(this.classinfo);
      return (this.classinfo) ? this.convertToColumns(this.classinfo, this.$i18n) : this.undefinedColumns;
    }

    reloadFilteredData() {

        this.loadAllDataForClasssInfo(this.classinfo, this.filterExpressions);
    }

    mounted () {

        console.log("!!!!mount");
        console.log(this.classinfo);
        this.loadAllDataForClasssInfo(this.classinfo, []);
    }

    @Watch('classinfo') onClassinfoChanged(newClassInfo: JdyClassInfo) {

        this.loadAllDataForClasssInfo(newClassInfo, [])
    }

    loadAllDataForClasssInfo(aClassInfo: JdyClassInfo, allFilterExpressions: OperatorExprHolder[]) {

        if (aClassInfo) {

            // load only attributes displayed in table
            const allSelectAttributes: JdyAttributePath[] = [];
            aClassInfo.forEachAttr(attrInfo => {
                if (attrInfo.isPrimitive()) {
                    const primitiveInfo = attrInfo as JdyPrimitiveAttributeInfo;
                    if (primitiveInfo.getType().getType() != JdyDataType.JDY_BLOB) {

                        allSelectAttributes.push(new JdyAttributePath([], primitiveInfo));
                    }
                }
            });

            const query = convertToJdyQuery(allFilterExpressions, aClassInfo, allSelectAttributes);

            this.reader.loadValuesFromDb(query)
                .then(data => {
                    this.holderItems = data;
                    return null;
                })
                .catch(error => {

                    this.holderItems = this.undefinedData;
                    this.$emit('jdy-notification', `Fehler beim Laden der Daten: ${error.message}`);
                });
        } else {

            this.holderItems = this.undefinedData;
        }
    }

  editInDialog (listItem: any) {

    if(listItem) {
      this.editedIndex = this.holderItems.indexOf(listItem);
      this.editedItem = listItem.copy();
    } else {
      this.editedIndex = -1;
      if (this.classinfo) {
        this.editedItem = new JdyTypedValueObject(this.classinfo, null, false);
      }
    }
    this.isEditDialogVisible = true;
  }

  deleteItem (listItem: any) {
    if (confirm('Are you sure you want to delete this item?') ) {
      this.writer.deleteObjectInDb(listItem
          , (() => {
            this.holderItems.splice(this.holderItems.findIndex(x => x.name === listItem.name), 1);
          })
          , ((error: any) => {
            this.$emit('jdy-notification', `Fehler beim Laden der Daten: ${error.message}`);
          }));
    }
  }

  close () {
    this.isEditDialogVisible = false;
    setTimeout(() => {
      this.editedItem = {};
      this.editedIndex = -1;
    }, 300);
  }

  save () {
    if (this.editedIndex && this.editedIndex > -1) {
      const listItem = this.holderItems[this.editedIndex];
      this.writer.insertObjectInDb(this.editedItem
          , ((result: any) => {
            Object.assign(listItem, result)
          })
          , ((error: any) => {
            this.$emit('jdy-notification', `Fehler beim Laden der Daten: ${error.message}`);
          }));

    } else {
      this.writer.insertObjectInDb(this.editedItem
          , ((result: any) => {
            this.holderItems.push(result);
          })
          , ((error: any) =>  {
            this.$emit('jdy-notification', `Fehler beim Laden der Daten: ${error.message}`);
          }));
    }
    this.close();
  }
  get formAssocs () {

    const assocsFromClassnfo: JdyAssociationModel[] = [];
    if (this.classinfo) {
      this.classinfo.forEachAssoc(assocInfo => {
        assocsFromClassnfo.push(assocInfo);
      });
    }
    return assocsFromClassnfo;
  }
}
</script>
